<table>
  <tr>
    <td>Name</td>
    <td>Birth Date</td>
    <td>Color</td>
    <td>Sex</td>
    <td>Description</td>
    <!-- <td></td> -->
  </tr>
  <tr>
  <%= render @cat %>
  </tr>
</table>

<br>
<%= link_to 'Show all cats', cats_url %>
