<h2>Log in</h2>
<form action="<%= sessions_url %>" method="post">
  <label for="user_name">Username</label>
  <input type="text" id="user_name" name="user[user_name]">
  <br>
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]">
  <br>
  <button>Log in</button>
</form>
